.debug * {
    border: red 1 dashed;
}

:root {
    --ca_bg_carousel: #212333;
    --ca_bg_side: #313447;
}

body {
    background-image: url(./../img/bg-cf.jpg);
}

/* #region ms_carousel_left .......................... */

.ms_carousel {
    background-color: var(--ca_bg_carousel);
    position: relative;
    margin-top: 1rem;
}

.ms_carousel .ms_title {
    height: 5rem;
}

.ms_carousel .ms_slider {
    height: 30rem;
}

.ms_carousel .ms_text {
    height: 5rem;
}

.ms_carousel .ms_slider > img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/* #endendregion ms_carousel_left ....................*/
/* #endregion ms_thumbnails ........................*/
.ms_thumbnails {
    height: 40rem;
    position: relative;
}

.ms_thumbnails_cell {
    height: 20%;
    background-color: var(--ca_bg_side);
    border: 1px solid black;
    text-align: center;
    overflow: hidden;
}

.ms_thumbnails_cell > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.ms_opacity {
    filter: brightness(25%);
}

/* #endendregion ms_thumbnails .....................*/

nav .ms_btn {
    position: absolute;
}

nav .ms_btn#up {
    top: 5%;
    right: 7.5%
}

nav .ms_btn#down {
    bottom: 5%;
    right: 7.5%
}