.debug * {
    border: 1px dashed red;
}

body {
    background-image: url(./../img/bg-cf.jpg);
}

.slider {
    position: relative;
    height: 500px;
    display: flex;
    box-shadow: 0 0 10px rgb(132, 132, 132);
}

button.revert {
    padding: 0.25rem 0.5rem;
    margin: 1rem 0;
    border: none;
    background-color: black;
    color: white;
    border-radius: 1rem;
}

button.prev,
button.next {
    display: inline-block;
    border: none;
    background-color: white;
    width: 30px;
    aspect-ratio: 1;
    border-radius: 50%;
    margin: 0.25rem;
}

.controls {
    position: absolute;
    right: 0px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
}

.slide {
    position: relative;
    height: 100%;
}

.slide:not(.active) {
    display: none;
}

.text {
    color: white;
    position: absolute;
    bottom: 1rem;
    padding: 1rem;
    width: 40%;
}

.slides,
.slides img {
    height: 100%;
}

.slides img {
    width: 100%;
    object-fit: cover;
}

.slides {
    width: 80%;
}

.thumbs {
    width: 20%;
    display: flex;
    flex-direction: column;
}

.thumbs img {
    height: 100px;
    object-fit: cover;
}

.thumbs img.active {
    border: 2px inset black;
}

.thumbs img:not(.active) {
    opacity: 0.4;
}