.debug * {
    border: red 1 dashed;
}

.carousel {
    margin-top: 10rem;
    background-color: red;
    position: relative;
    height: 33rem;
}

.images {
    width: 80%;
    text-align: center;
}

.ms_image {
    max-width: 100%;
    max-height: 100%;
}

.ms_btn {
    position: absolute;
}

.ms_btn#up {
    top: 5%;
    right: 50%;
}

.ms_btn#down {
    bottom: 5%;
    right: 50%
}

.ms_not_show {
    display: none;
}

.ms_side_shower {
    width: 20%;
    background-color: blue;
}

.ms_side_cell {
    height: 20%;
    background-color: green;
    border: 1px solid black;
}