.debug * {
    border: red 1 dashed;
}

:root {
    --ca_bg_carousel: #212333;
    --ca_bg_side: #313447;
}

/* #region utilities .......................... */
.ms_not_show {
    display: none;
}

.ms_opacity {
    filter: brightness(25%);
}

/* #endregion utilities .......................*/


.carousel {
    margin-top: 10rem;
    background-color: var(--ca_bg_carousel);
    position: relative;
    height: 33rem;
}

.carousel .images {
    width: 80%;
    text-align: center;
    overflow: hidden;
}

.carousel .images > img {
    height: 100%;
}

.carousel .ms_side_shower {
    width: 20%;
}

.carousel .ms_side_cell {
    height: 20%;
    background-color: var(--ca_bg_side);
    border: 1px solid black;
    text-align: center;
    overflow: hidden;
}

.carousel .ms_side_cell > img {
    width: 100%;
}

nav .ms_btn {
    position: absolute;
}

nav .ms_btn#up {
    top: 5%;
    right: 7.5%
}

nav .ms_btn#down {
    bottom: 5%;
    right: 7.5%
}